@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: hsl(240, 73%, 65%);
    width: 1440px;
    max-width: 100%;
}

main {
    background-color: hsl(240, 5%, 91%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 80%;
    height: 80vh;
    margin: 50px 150px;
}

.image2 {
    display: none;
}

.order {
    padding: 0 50px;
}

.other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: hsl(238, 29%, 16%);
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion h1 {
    font-weight: 700;
    font-size: 25px;
}

.accordion-item {
    padding: 0.80rem 0;
    border-bottom: 1px solid #aaa;
    border-bottom-width: 50%;
}

.accordion-link {
    text-decoration: none;
    color: hsl(240, 6%, 50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i {
    color: hsl(14, 88%, 65%);
    font-weight: 700;
}

.accordion-link .ion-md-arrow-up {
    display: none;
}

.answer {
    overflow: hidden;
    max-height: 0;
    position: relative;
    transition: max-height 750ms;
}

.answer p {
    padding: 0.5 0rem;
}

.accordion-item:target .answer {
    max-height: 10rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
    display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-up {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
    main {
        display: block;
        height: 100%;
        margin: 50px auto;
        padding: 25px;
    }

    h1 {
        text-align: center;
        margin-top: 50px;
    }

    .image1 {   
        display: none;
    }

    .image2 {
        display: block;
        position: relative;
        margin-top: 29px;
    }

    
}